fastapi>=0.111.0
uvicorn
asyncpg
clickhouse_driver
sentence_transformers
scikit-learn
pymorphy2 
nltk
langdetect
uvicorn
boto3
pydantic>=2.0
pydantic-settings>=2.0
aiokafka
python-dotenv
python-multipart
geopy
redis
huggingface_hub[hf_xet]
celery
opencv-python
face-recognition
prometheus-fastapi-instrumentator
dependency_injector
slowapi
